@import url(//fonts.googleapis.com/css?family=Libre+Baskerville);
.article_content {
    font-family: 'Libre Baskerville', serif;
    font-size: 125%;
}
.article_summary {
    font-family: 'Libre Baskerville', serif;
}
article.box.is-post, section.box {
    background: #fdf6e3;
}
